*{
    margin:0px;
    padding:0px;
    box-sizing:border-box ;
}
nav{
    display:flex;
    justify-content:space-around;
    align-items: center;
    min-height:10vh;
    background-color:#8a272a;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.logo{
 
    color:rgb(226, 226, 226);
    text-transform:capitalize;
    font-size: 20px;
}
.link{
 
    display: flex;
    justify-content: space-around;
    width:30%;
}
.link a{
    color:rgb(226, 226, 226);
    text-decoration:none;
    font-weight: bold;
    font-size:16px;
   

}
.link li{
    list-style: none;
}
 .action-btn{
    display:none;
} 
.action-btn{
    background-color: #8a272a;
    border:0;
    color:rgb(226, 226, 226);
    font-size:25px;
    cursor:pointer;
  }
  @media screen and (max-width:1024px) {
      .link{
          width:60%;
      }
      
  }
  @media screen and (max-width:768px) {
      body{
          overflow-x:hidden;
      }
      .link{
      position:absolute;
      right:0px;
      top :10vh;
      height:92vh;
      background-color: #8a272a;
      display: flex;
      flex-direction: column;
    align-items:center;
    width:50%;
    transform:translateX(100%);
    transition: transform 0.5s ease-in;
      }
    .action-btn{
        display:block;
    }
   .link li{
       opacity:0;
   }
  }
.nav-active{
    transform: translateX(0%);
}
@keyframes linknav {
    from{
opacity:0;
transform:translateX(50px);
    }
    to{
opacity:1;
transform:translateX(0px);

    }
}
